@import "../../shared.scss";

.notification {
    position: absolute;
    margin: auto;
    right: 0;
    left: 0;
    width: 250px;
    padding: 1rem 2rem;
    z-index: 100;
    text-align: center;
}

.error {
    border: 1px solid $danger;
    background-color: lighten($danger, 45%);
    color: $danger;
}

.success {
    border: 1px solid $success;
    background-color: lighten($success, 45%);
    color: $success;
}