.form {
    display: flex;
    flex-flow: row wrap;
    justify-content: stretch;
    background-color: #eee;
    padding: 1rem;
}

.field {
    padding: 1rem;
    flex-grow: 1;
    border: 1px solid #aaa;
    position: relative;
}

.field:last-child {
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: space-around;
}
.field .buttons {
    flex-grow: 1;
    border: 1px solid #aaa;
    & > *:first-child {
        height: 80%;
    }
    & > *:nth-child(2) {
        height: 20%;
    }
}

.btn {
    width: 100%;
    background: none;
    border: 0;
}

.error {
    border: 1px solid #411;
    background-color: #e88;
    color: #411;
}

.success {
    border: 1px solid #141;
    background-color: #8e8;
    color: #141;
}

.field .image {
    flex-grow: 1;
    border: 1px solid #aaa;
    padding: 1rem;
}

img {
    display: block;
    margin: auto;
}

label {
    display: block;
    position: relative;
    font-size: small;
    top: -1rem;
    left: -1rem;
    padding: 1px;
}

input[type=text]{
    border: 0;
    background-color: #eee;
    border-bottom: 2px groove #1d1a1a;
    min-width: 100px;
    width: 100%;
    font-size: 1.2rem;
}

.combinedField input[type=text] {
    width: 80%;
}