@import "../../shared.scss";

.form {
    display: flex;
    flex-flow: row wrap;
    justify-content: stretch;
    background-color: $dirty-white;
    padding: 1rem;

    max-height: 40vh;
    overflow: auto;
}

.field {
    padding: 1rem;
    flex-grow: 1;
    border: 1px solid $light-grey;
    position: relative;
}

.field:last-child {
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: space-around;
}
.field .buttons {
    flex-grow: 1;
    border: 1px solid $light-grey;
    & > *:first-child {
        height: 70%;
    }
    & > *:nth-child(2) {
        height: 30%;
    }
}

.btn {
    width: 100%;
    background: none;
    padding: 1rem;
    border: 0;
}

.error {
    border: 1px solid $danger;
    background-color: lighten($danger, 40%);
    color: $danger;
}

.success {
    border: 1px solid $success;
    background-color: lighten($success, 45%);
    color: $success;
}

.field .image {
    flex-grow: 1;
    border: 1px solid $light-grey;
    padding: 1rem;
}

.caption {
    font: 300 italic 0.8rem Arial, sans-serif;
    margin-left: 0.5rem;
}

img {
    display: block;
    margin: auto;
}

label {
    display: block;
    position: relative;
    font-size: small;
    top: -1rem;
    left: -1rem;
    padding: 1px;
}

input[type=text]{
    border: 0;
    background-color: $dirty-white;
    border-bottom: 2px groove #1d1a1a;
    min-width: 100px;
    width: 100%;
    font-size: 1.2rem;
}

.combinedField input[type=text] {
    width: 80%;
}