@import "../../shared.scss";

.badge {
    background-color: $dirty-white;
    padding: 1rem 0;
    border: 3px solid $light-grey;
    margin: auto;
    
    height: 150px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: $secondary;
    color: $dirty-white;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
}

.overlayBtn {
    position: absolute;
    width: 100%;
    height: 100%;
    font-weight: 600;
    font-size: 5rem;
    color: $dirty-white;
    background-color: $light-grey;
    opacity: 0;
    top: 0;
    cursor: pointer;
    &:hover {
        opacity: 0.5;
    }
}

.figure {
    position: relative;
    
    margin: auto;

    img {
        width: 100%;
        height: 100%;
        max-width: 150px;
        max-height: 150px;
    }
}

.field {
    margin: 1rem;
    text-align: center;
}

@media print {
    .btn {
        display: none;
    }
}