.container {
    height: 98vh;
}

.centered {
    margin: auto;
    right: 0;
    left: 0;
    width:100%;
    max-width: 768px;
}

.card {
    position: absolute;
    top: 10vh;
}

.panel {
    position: fixed;
    bottom: 0;
}

.button {
    position: absolute;
    top: 5px;
    right: 15px;
}

@media(max-width: 768px){
    .card {
        top: 5vh;
    }
}