.container {
    height: 98vh;
}

.centered {
    margin: auto;
    right: 0;
    left: 0;
    width:100%;
    max-width: 768px;
}

.card {
    position: absolute;
    top: 10vh;
    width: 360px;
}

.panel {
    position: fixed;
    bottom: 0;
}

.btn {
    position: absolute;
    top: 40vh;
    width: 50%;
    padding: 1rem;
    background-color: #180;
    border-radius: 20px;
    color: #eee;
    font-size: 500;
}
.btn:disabled {
    background-color: #aaa;
    color: #555;
    cursor: not-allowed;
}

.notificationWrapper {
    position: absolute;
}

.toPrint {
    display: none;
}

@media(max-width: 768px){
    .card {
        top: 5vh;
    }
    .btn {
        top: 35vh;
    }
}

@media print {
    .toPrint {
        display: block;
    }
    .container {
        display: none;
    }
}